<?xml version="1.0" ?>
<launch>
    <!-- parameters -->

    <!-- launch franka control -->
    <include file="$(find franka_control)/launch/franka_combined_control.launch"/>
    
    <!-- Start a joint trajectory controller -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="effort_joint_trajectory_controller"/>

    <!-- launch moveit -->
    <include file="$(find panda_dual_moveit_config)/launch/move_group.launch"/>

    <include file="$(find panda_dual_moveit_config)/launch/moveit_rviz.launch" />

</launch>